body {
  font-family: Arial, sans-serif;
  background-color: #222;
  color: #ddd;
}

a {
  color: #ddd;
}

a:hover {
  color: #fff;
}

.navbar-light .navbar-brand {
  color: #fff;
}

.navbar-light .nav-link {
  color: rgba(255, 255, 255, 0.7);
}

.navbar-light .nav-link:hover {
  color: #fff;
}

.btn-primary {
  background-color: #333;
  border-color: #333;
}

.btn-primary:hover {
  background-color: #444;
  border-color: #444;
}

.form-control {
  background-color: #333;
  color: #ddd;
  border-color: rgba(255, 255, 255, 0.3);
}

.form-control:focus {
  border-color: #ddd;
  box-shadow: 0 0 0 0.2rem rgba(255, 255, 255, 0.5);
}
::-webkit-input-placeholder { /* Chrome, Safari, Edge */
  color: rgba(255, 255, 255, 0.7);
}

:-moz-placeholder { /* Firefox 19+ */
  color: rgba(255, 255, 255, 0.7);
}

::placeholder { /* Modern browsers */
  color: rgba(255, 255, 255, 0.7);
}
